# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: PromoCodeFactory workflow

on:
  push:
    branches: [ "main" ]
    paths:
      - 'Homeworks/UnitTests/src**'
      - '.github/workflows/dotnet.yml'
  pull_request:
    branches: [ "main" ]

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x
      - name: Restore dependencies
        working-directory: ./Homeworks/UnitTests/src
        run: dotnet restore
      - name: Build
        working-directory: ./Homeworks/UnitTests/src
        run: dotnet build --no-restore
      - name: Test
        working-directory: ./Homeworks/UnitTests/src
        run: dotnet test --no-build --verbosity normal
  push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Get branch name
        id: branch-name
        run: |
          if [ "${{ github.ref }}" = "refs/heads/main" ]; then
            echo "tag=latest" >> $GITHUB_OUTPUT
          else
            echo "tag=${GITHUB_REF#refs/heads/}" >> $GITHUB_OUTPUT
          fi

      - name: Build and push promocode-factory-api
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Homeworks/UnitTests/src/Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/promocode-factory-api:${{ steps.branch-name.outputs.tag }}
